#messagebox {
	float: left;
	padding: 0px 5px 10px 5px;
	
}
.bubble  {
	margin-left: 15px;
	padding: 10px 5px 10px 20px;
	position: relative;
	background: #FFFFB8;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: #009900 solid 3px;
	display: none;
}
.bubble:after  {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 12px 15px 0;
	border-color: transparent #FFFFB8;
	display: block;
	width: 0;
	z-index: 1;
	left: -12px;
	top: 40%;
}
.bubble:before  {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 17px 14px 17px 0;
	border-color: transparent #009900;
	display: block;
	width: 0;
	z-index: 0;
	left: -17px;
	top: 40%;
}
.bubble h3{
	text-align: center;
	font-size: 16px;
	color: #c1c1c1;
	font-family: 'Lucida Bright', Georgia, serif;
}
.bubble li{
	color: #009900;
}
.bubble{
	font-size: 14px;
	font-family: 'Courier New';
}
#loginbubble {
	width: 440px;
}
#registerbubble {
	width: 350px;
}
#memberbubble {
	width: 275px;
	height: 200px;
}
#autobubble {
	width: 150px;
	height: 200px;
}
#calcbubble {
	width: 150px;
	height: 200px;
}
#mvcbubble {
	width: 225px;
	height: 150px;
}
#futurebubble {
	width: 225px;
}
#angularbubble {
	width: 225px;
	height: 150px;
}
#apibubble{
	width: 225px;
	height: 150px;
}
